/* Version 1.0.1 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}
.flash-success {
  @apply bg-green-100 border rounded-md border-green-300 py-2 px-4;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  animation: fadeOut 0.5s 2s forwards;
  //transition: opacity 0.5s ease-in-out;
}


.chip {
  @apply rounded-full flex items-center justify-center p-2  bg-green-100 w-8 h-8;

  &.chip-self {
    @apply bg-green-400;
  }
}

.qa-grid-form, .qa-grid-button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.qa-grid-button {
  z-index: 2;
}

.toggle-links {
  @apply flex items-center justify-center gap-2 font-bold;
}

.toggle-links a {
  @apply px-3 py-1 block rounded border-2;

  &.active {
    @apply bg-black border-black text-white;
  }

  &:not(.active){
    @apply opacity-50 hover:opacity-100 hover:border-black;
  }
}

.btn {
  @apply rounded py-1.5 px-4 inline-block border-2 border-black;
}

.btn-primary {
  @apply bg-white hover:bg-black hover:text-white;
}
.btn-danger {
  @apply bg-red-300 hover:bg-red-500;
}
.btn-success {
  @apply bg-green-300 hover:bg-green-500;
}


.custom-file-upload {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 148px; /* Adjust as needed */
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.custom-file-upload input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.custom-file-upload span {
  text-align: center;
  color: #666;
}

.custom-file-upload:hover {
  border-color: #aaa;
}


.screenshot-container {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.screenshot-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 32px;
  z-index: 9999;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.progress-container {
  @apply h-[8px] w-[200px] bg-neutral-300 rounded-full;

  .progress {
    @apply h-[8px] rounded-full bg-green-400 block;
  }
}

.priority-chip {
  @apply px-4 py-1 rounded;
  white-space: nowrap;

  &.inactive {
    @apply bg-gray-300 opacity-50 !important;
  }
}


.priority-0 {
  @apply bg-blue-200;
}
.priority-1 {
  @apply bg-yellow-200;
}
.priority-2 {
  @apply bg-orange-400;
}
.priority-3 {
  @apply bg-red-400;
}