@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}
.flash-success {
  background-color: #a9e6b8;
  color: #333;
  border: 1px solid #4cc965;
  padding: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  animation: fadeOut 0.5s 2s forwards;
  //transition: opacity 0.5s ease-in-out;
}

.btn {
  @apply rounded py-1 px-4;
}

.btn-primary {
  @apply bg-slate-300 hover:bg-slate-500;
}
.btn-danger {
  @apply bg-red-300 hover:bg-red-500;
}
.btn-success {
  @apply bg-green-300 hover:bg-green-500;
}